<a href="https://colab.research.google.com/github/wde11/python_examples/blob/main/Python_examples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Things


*   Beginner's Language
*   Object Oriented
*   Interpreted
*   Interactive

**Python Identifiers**


*   Class names start with an uppercase letter. All other identifiers start with a lowercase letter.
*   Starting an identifier with a single leading underscore indicates that the identifier is private.
* Starting an identifier with two leading underscores indicates a strongly private identifier
* If the identifier also ends with two trailing underscores, the identifier is a language-defined special name.

**Line and Indention**


*   NO curly braces
*   Block structure indicated by indentation

#**Variables and Data Types**

First assignment to a variable creates it.
*   Variable types don't need to be declared
*   Python figures out the variables on its own

Python uses five standard data types

In [ ]:
#Numbers
a = type(123)
pi = type(3.14)

a, pi

(int, float)

In [ ]:
#Strings
varString = "Hello World!"
varText = "This is a String!"
varChar = "a"
varString

'Hello World!'

In [ ]:
#Lists
#List is a mutable object
#has a variable size
varList = ["abc", 123, ["x","y","z"]]
print(len(varList))

3

In [ ]:
fruits = ["apple","orange","tomato","banana"]
print(type(fruits))
print(fruits)
fruits[3]

<class 'list'>
['apple', 'orange', 'tomato', 'banana']

'banana'

In [ ]:
fruits[2] = "mango"
print(fruits)

['apple', 'orange', 'mango', 'banana']

In [ ]:
nums = list(range(0,100,5))
print(nums)

In [ ]:
#Tuples
#Tuple is an immutable object
#has a fix size
varTuple = ('abc', 123, "hello")

In [ ]:
#Dictionaries
#unordered, changeable and indexed

var = 3
varDict = {'first':[1,2,3], '2':'2nd', 3:var, 4: (3,4,5)}

varDict = {}
varDict['first'] = [1,2,3]
varDict['2'] = '2nd'
varDict[3] =  3
print(varDict)
varDict['first']

# **Arithmetic Operations**

In [ ]:
#Addition
a = 2 + 1

In [ ]:
#Subtraction
b = 5 - 3

In [ ]:
#Multiplication
c = 5 * 3

In [ ]:
#Exponent
#5^3
d = 5 ** 3

In [ ]:
#Division
e = 5 / 3

In [ ]:
#Modulo
f = 5 % 3

In [ ]:
#Floor Division or Integer Division
g = 5 // 3

In [ ]:
#Increment / Decrement
h = 5
h += 1

i = 5
i -= 1

j = 5
j *= 1

k = 5
k /= 1

Convert this sigmoid function formula into a code

![sigmoid.png]()

1. When z = 8 and e = 2.718; g(z) = 0.9996643716832646
2. when z = 2 and e = 2.718; g(z) = 0.8807753038918279

In [ ]:
#@title
z = int(input())
e = 2.718
sig_fnc = 1/(1 + e**(-z))

print("z = ",z, " result =",sig_fnc)

**Control Statements and Data Structures**

In [ ]:
#Boolean Conditions
x = True

if x:
  print("Var is True.")
else:
  print("Var is False.")


#String Conditions
x = "Hello World"

if x == "Hello World":
  print("Var x is Hello World.")
else:
  print("Var x is not Hello World.")

#Numerical Conditions
x = 10

if x == "10":
  print("var is a String")
elif x == 10:
  print("Var x is an integer.")
else:
  print("var x is none of the above.")

#Loops

In [ ]:
#For Loops
#start, range, increment
for var in range(2,10,2):
  print(var)

#While Loops
var = 0
while var < 5:
  print(var)
  var += 2

#Nested Loops
x = 0
while x < 5:
  for y in range (0, x):
    print(y,end = ' ')
  x += 1
  print()

#**Lists**
Can contain a number of values comprised of different data types.

In [ ]:
pi = 3.1416

varList = [1, 2, 'A', 'B', 'Hello!', pi]
print(varList)

In [ ]:
varList.append('World!')
print(varList)

In [ ]:
#The remove() method erases the first value that matches the parameter
varList.remove(pi)

In [ ]:
varList

#**Dictionaries**

In [ ]:
var = "Hello World!"
varDict = {'first':1, '2':'2nd', 3:var}
varDict

In [ ]:
lista = [1,2,3,4,5]
listb = ['a','b','c','d']

varDict.update({4:lista})
varDict.update({5:listb})
varDict

In [ ]:
#Add values to a dictionary
pair = [(10025,'one'),(10026,'two'),(10027,'three')]

for x in pair:
  varDict.update({x[0]:x[1]})

varDict

In [ ]:
#iterate through a dictionary

for key in varDict:
  print(key,'-->',varDict[key])

In [ ]:
#Update a value in a dictionary

varDict[10025] = 'Rose'

varDict

In [ ]:
#Remove an item in dictionary

varDict.pop(10025)

In [ ]:
#remove the item that was last inserted into the dictionary
varDict.popitem()

#**Slicing**

Obtain a particular set of sub-elements from a data structure

In [ ]:
nums = [10, 20, 30, 40, 50, 60, 70, 80, 90]
#start:stop:step
print(nums)
print(nums[2:7]) #prints from 2nd index to the 7th element
print(nums[0:8:3])

In [ ]:
nums = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

print(nums[0:8:3])

In [ ]:
#taking the first n elements
nums[:5]

In [ ]:
#taking the last n elements
nums[-2:]

In [ ]:
#3rd element from the last up until the 9th element
nums[-3:9]

In [ ]:
#all but n last elements
nums[:-2]

#**Functions**

Allow us to package functionality in a nice and readable way.

Reuse it without writing again.

Make code modular and readable.

In [ ]:
#def function_name
#     commands:
def subtract(n, m):
  print(n)
  print(m)
  diff = n - m
  return diff

subtract(10,5)